[submodule "modules/walls"]
	path = modules/walls
	url = https://github.com/datsfilipe/walls.git
[submodule "dotfiles/bin"]
	path = dotfiles/bin
	url = https://github.com/datsfilipe/unix-scripts.git
[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = https://github.com/datsfilipe/datsnvim.git
